body {
  font-family: "Courier New", Courier, monospace;
  background-image: url(image/nature.jpeg);
  background-size: cover;

  padding: 20px;
}

h1 {
  text-align: center;
  color: #000;
}

.example {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  border-left: 5px solid rgb(205, 179, 31);
  border-radius: 8px;
}
.named {
  color: purple;
}
.hex {
  color: #eb5406;
}
.rgb {
  color: rgb(12, 12, 204);
}
.rgba {
  color: rgba(0, 0, 0, 0.1);
}
.hsl {
  color: hsl(120, 100%, 25%);
}
